/*
  style.css

  KRG 01/07/2008
  Stylesheet to accompany Toledo.xsl. 
  Styling for the Toledo theme.

  TODO: Merge breadcrumb, ds-trail styles
  TODO: Remove unneeded stylings

*/

body {
        background-color: #E5E5E5;
	font-family: Verdana, sans-serif;
	font-size: medium;
        margin: 0pt;
        padding: 0pt;

}
a:active {
color: #330066;
}
a:link {
color:#000066;
}
a:visited {
color:#330099;
}
img { border: none;
}
fieldset {
	border: 0px;
}

/*
div#ds-main {

	position: relative;
	margin-top: 5px;
	width: 750px;
	color: inherit;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding: 0;
}
*/
div#ds-header {
	width: 100%;
	border: 1px solid #343399;
	padding: 0px;
}

div#ds-header a {
	text-decoration: none;
}

div#ds-header  a span#ds-header-logo {
	width: 500px;
	height: 70px;
	float: left;
	background-image: url("manakin_logo.jpg");
	background-repeat: no-repeat;
	background-position: 20% 50%;
	color: inherit;
	background-color: white;
}

div#ds-header h1,div#ds-header h2 {
	display: none;
}


ul#ds-trail {
	position: relative;
        margin: 0;
	padding: 8px 0px 8px 12px;
        list-style: none;
}

li.ds-trail-link {
	display: inline;
	padding-left: 16px;
	margin-left: 5px;
	max-width: 400px;
        margin:0;
        padding: 0;
        font-family: "Lucida Grande", sans-serif;
}

*/
li.first-link {
	list-style: none;
	background-image: none;
	padding-left: 0;
}

div#ds-user-box {
    width: 300px;
	position: absolute;
	top: 10px;
	left: 555px;
	text-align: left;
}

div#ds-user-box p {
	font-size: 90%;
	color: gray;
	background-color: inherit;
	height: 12px;
	padding: 0px;
	margin: 0px;
}

div#ds-user-box a {
	text-decoration: none;
	color: gray;
	background-color: inherit;
	height: 12px;
	padding: 0px;
	margin: 0px;
}

div#ds-user-box a:hover {
	text-decoration: underline;
}

div#ds-body {
/*	position: relative; */
/*	float: right;*/
/*	width: 592px; */
/*	clear: left;*/
	color: inherit;
	background-color: rgb(255, 255, 255);
/*	border: 1px solid #343399; */
	/*margin: 19px 0px 0px 0px; */
        margin-right:186px;
        adding: 0pt 0pt 0pt 10px;
        width: 71%; /* This seems to be needed by IE6 */
                    /* TODO: Check if bad html may be causing this */ 
}

div#ds-body h1 {
	font-size: 1.5em;
	padding: 10px 0 0 0;
	margin-top: 10px;
	margin-bottom: 5px;
	color: #000000;
	background-color: inherit;
	font-weight: bolder;
}

div#ds-body h2 {
	font-size: 1.3em;
	padding: 6px 0;
	margin-bottom: 0px;
	color: #000;
	background-color: inherit;
	font-weight: bolder;
}

div#ds-body h3 {
	margin-bottom: 15px;
}

ul.ds-progress-list {
	margin: 0 0 10px 0;
	padding: 2px 0px;
	text-align: center;
}


ul.ds-progress-list li {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: rgb(255, 255, 240);
	border: 1px solid rgb(240, 240, 210);
	color: rgb(233, 160, 80);
	overflow: hidden;
	display: inline;
	padding: 4px 3px;
	margin-top: 2px;
	margin-left: 3px;
	max-width: 400px;
	line-height: 20px;
}

ul.ds-progress-list li.button {
	background-color: inherit;
	border: none;
	padding: 1px !important;
	margin-top: 2px;
	margin-left: 0px !important;
}

ul.ds-progress-list li.button input.ds-button-field {
	font-size: smaller;
}

ul.ds-progress-list li.current.button input.ds-button-field {
	color: rgb(10,175,10);
}

ul.ds-progress-list li.current {
	color: rgb(80, 183, 40);
	background-color: inherit;
	border-color: rgb(216, 245, 216);
}

ul.ds-progress-list li.arrow {
	border: none;
	background: none;
	font-size: 120%;
	font-weight: normal;
	margin-left: 0px;
	margin-right: 0px;
}

ul.alphabet {
	padding-left: 10px;
	padding-top: 0px;
	margin: 5px 0px 0px 0px;
	text-align: center;
}

ul.alphabet li {
	list-style: none;
	display: inline;
	margin-right: 5px;
	font-weight: 200;
}

ul.alphabet a {
	font-weight: 600;
	color: rgb(100, 100, 50);
	background-color: inherit;
}

ul.alphabet a:hover {
	font-weight: 600;
	color: rgb(150, 150, 50);
	background-color: inherit;
}
/*
form.search {
	margin: 0px;
	padding: 0px;
}

form.search select {
	max-width: 200px;
}

*.collection.search-browse,*.community.search-browse {
	width: 340px;
	float: left;
	margin: 5px 12px 5px 0px;
}

form.search fieldset,form.navigation fieldset {
	color: inherit;
	background-color: rgb(255, 255, 245);
	border: 2px solid rgb(240, 240, 210);
	padding: 5px 5px 5px 5px;
}*/

form.search li {
    margin: 0;
    padding: 0px !important;
}

form.navigation input,form.navigation select {
	margin-left: 5px;
}

form.navigation p {
	text-align: center;
}
/*
form.search table {
	margin-top: 5px;
	margin-bottom: 5px;
	border: none;
}

form.search table th {
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
}
*/
div.browse {
	display: none;
}

div.pagination {
	position: relative;
	padding: 0px;
	color: inherit;
	background-color: #e5e5e5;
	border: 1px solid #994444;
	margin: 2px 0px 5px 1px;
}

div.pagination * {
	padding: 0px;
}

div.pagination-masked {
	position: relative;
	color: inherit;
	background-color: rgb(255, 255, 240);
	border: 2px solid rgb(240, 240, 210);
	margin-bottom: 5px;
}

a.previous-page-link {
	position: absolute;
	left: 10px;
	top: 6px;
	color: rgb(100, 100, 50);
	background-color: inherit;
}

p.pagination-info {
    text-align: center;
    margin-left: 125px;
    margin-right: 125px;
}

ul.pagination-links {
	position: relative;
	text-align: center;
	top: -5px;
	width: 360px;
	margin: 0 auto;
	padding: 0;
	line-height: 12px;
}

*.pagination-links li {
	list-style: none;
	display: inline;
	margin-right: 5px;
	font-weight: bolder;
	font-size: 90%;
}

li.page-link a,li.first-page-link a,li.last-page-link a {
	color: rgb(100, 100, 50);
	background-color: inherit;
}

li.current-page-link a {
	color: rgb(223, 110, 0);
	background-color: inherit;
}

a.next-page-link {
	position: absolute;
	right: 10px;
	top: 6px;
	color: #000099;
	background-color: inherit;
}

div.detail-view {
	/*clear: both;*/
	padding: 5px 5px 5px 6px;
}

p.button-list {
	margin-top: 3px;
	padding-bottom: 0;
}

ul.collection-browse,ul.community-browse {
	display: none;
}

*.collection-search-browse td,*.community-search-browse td {
	white-space: nowrap;
}

*.collection-search-browse h4,*.community-search-browse h4 {
	display: none;
}

*.collection-search-browse select,*.community-search-browse select {
	width: auto;
	max-width: 200px;
}

*.collection-search-browse input,*.community-search-browse input {
	width: auto;
	max-width: 195px;
}

*.button-list input {
	width: auto;
}

div.ds-logo-wrapper {
    float: right;
    padding: 5px 0px 5px 10px;
}

p.copyright-text {
	margin-top: 30px;
	font-style: italic;
	text-align: center;
}

div.primary {
	overflow: auto;
	margin-bottom: 20px;
}

.primary .primary {
	margin-bottom: 10px;
}

table {
  /*  clear: both; */
	border-spacing: 0px;
	border: 1px solid #343399;
	width: 100%;
}

tr.ds-table-header-row {
	color: inherit;
	background-color: #e5e5e5;
}

tr.ds-table-header-row.subheader {
    background-color: rgb(250, 250, 214);
}

th {
    padding: 4px 10px;
}
.subheader th {
    padding-left: 5px;
	font-weight: 100;
}



tr.ds-table-row.odd {
	color: inherit;
	background-color: #ffffff;
}

tr.ds-table-row.even {
	color: inherit;
	background-color: #e5e5e5;
}

/*
.ds-includeSet-table
{
  margin-top:0px;
  background-color: red;
  clear: none;
}
*/

td {
	padding: 3px 10px 5px 10px;
	border: none;
	font-size: inherit;
	background-color: inherit;
	color: inherit;
}

*.first-cell {
	vertical-align: middle;
	text-align: center;
}

.indent {
    padding-left: 35px;
    padding-right: 0;
}
.doubleIndent {
    padding-left: 55px;
    padding-right: 0;
}


th.indent {
    padding-left: 30px;
    padding-right: 0;
}
th.doubleIndent {
    padding-left: 50px;
    padding-right: 0;
}



/* highlight a single row */
tr.ds-table-row.highlight {
	background-color: rgb(216, 245, 216);
}

/* Tables that are actually a result of glossary lists are not rendered
 as plain tables are... */
table.ds-gloss-list {
	border: none;
	width: auto;
	font-size: inherit;
}

*.ds-gloss-list td {
	padding: 5px;
}

*.ds-gloss-list-label {
	font-weight: bolder;
}

table.ds-gloss-list td ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

/* Formatting associated with the "Files in this item" table in the item view */
*.file-list td {
	text-align: center;
}

a.image-link img {
	border: none;
}

span.bold {
	font-weight: bold;
}

span.italics,span.italic {
	font-style: italic;
}

span.underline {
	text-decoration: underline;
}

div.ds-static-div {
	border: 1px solid white;
/*	clear: both; */
        clear:none;
}

ul.ds-artifact-list {
	border: 1px solid #343399;
	padding: 0px;
	list-style-type: none;
	margin: 0px;
	float: left;
/*	width: 584px; */
        width: 99%;
}

ul.ds-artifact-list li.odd {
	color: inherit;
	background-color: #e5e5e5;
}

ul.ds-artifact-list li.even {
	color: inherit;
	background-color: rgb(255, 255, 255);
}

ul.ds-artifact-list li {
	float: left;
	/*clear: both;*/
	width: 100%;
	padding-bottom: 3px;
	padding-top: 3px;
}

ul.ds-artifact-list li img {
	border: 0px;
}

ul.ds-artifact-list li  div {
	float: left;
}

ul.ds-artifact-list li div.artifact-description {
	float: left;
	margin-top: 0px;
	width: 75%;
	padding: 0 5px;
}

ul.ds-artifact-list li div.artifact-title {
	float: none;
	font-family: Arial, Helvetica, sans-serif;
}

ul.ds-artifact-list li div.artifact-title a:link {
    color: #000066;
}

ul.ds-artifact-list li div.artifact-title a:visited {
    color: #300999;
}

ul.ds-artifact-list li div.artifact-info {
	float: none;
	margin-left: 15px;
}

ul.ds-artifact-list li span.publisher {
	font-style: italic;
}

ul.ds-artifact-list li div.artifact-preview {
	float: left;
}



/* The composite field voodoo */
span.ds-composite-field {
	display: table-row;
	padding: 2px;
}

*.ds-composite-field.ds-composite-component {
	display: table-cell;
	text-align: left;
	width: auto;
	padding-right: 10px;
}

*.ds-composite-field input,*.ds-composite-field textarea,*.ds-composite-field select {
	margin-right: 5px;
	margin-bottom: -2px;
}

span.composite-help {
	display: block;
	font-size: 80%;
	color: blue;
	background-color: inherit;
	text-align: left;
}

/* Checkboxes and Radio buttons */
fieldset.ds-checkbox-field,fieldset.ds-radio-field {
	border: none;
	margin: 0;
	padding: 0;
}

fieldset.ds-checkbox-field legend,fieldset.ds-radio-field legend {
	display: none;
}

fieldset.ds-checkbox-field label,fieldset.ds-radio-field label {
	display: block;
}

/* The form list and and its components voodoo */ /* Top-level stuff */
fieldset.ds-form-list {
	border: 0px solid rgb(240, 240, 210);
	padding: 0;
	color: inherit;
	background-color: rgb(255, 255, 255);
	margin-left: 0;
	margin-right: 0;
}

fieldset.ds-form-list.thick {
	border-top: 22px solid rgb(240, 240, 210);
}

fieldset.ds-form-list ol {
	padding: 0;
	margin: 0;
	width: 100%;
}

fieldset.ds-form-list legend {
	color: #DF6E00;
	background-color: inherit;
	font-size: 115%;
	font-weight: bolder;
	margin-left: 10px;
}

fieldset.thick legend {
	color: #DF6E00;
	background-color: rgb(255, 255, 245);
	border-top: 2px solid rgb(240, 240, 210);
	padding-left: 10px;
	padding-right: 30px;
}

/* Top-level stuff for the nested "form" lists */
fieldset.ds-form-sublist {
	border: 1px solid rgb(240, 240, 210);
	padding: 0;
	margin: 5px;
}

fieldset.ds-form-list ol {
	list-style-type: none;
}

form.ds-interactive-div fieldset.ds-form-sublist ol {
	display: table;
	padding: 0;
	margin: 0;
	width: 100%;
}

form.ds-interactive-div fieldset.ds-form-sublist legend {
	color: #DF6E00;
	font-size: 100%;
	font-weight: bolder;
	margin-left: 10px;
	padding: 0;
	background-color: inherit;
	border: 0;
}

/* Row-level hierarchy */
form.ds-interactive-div li.ds-form-item {
	display: block;
	padding: 5px 0;
	width: 90%;
}

form.ds-interactive-div li.odd {
	color: inherit;
	background-color: rgb(252, 252, 230);
}

form.ds-interactive-div li.even {
	color: inherit;
	background-color: rgb(255, 255, 245);
}

form.ds-interactive-div li.ds-form-item.last {
	border-top: 0px solid rgb(240, 240, 210);
	color: inherit;
	background-color: rgb(255, 255, 255);
}

form.ds-interactive-div.primary {
	float: left;
	/*clear: both;*/
	padding: 0px;
	margin-bottom: 10px;
}

p {
    padding: 0;
    margin: 6px;
}

fieldset ol {
	float: left;
	clear: both;
}

li.ds-form-item {
	float: left;
	clear: both;
}

div.ds-form-content {
	float: left;
	clear: right;
	display: block;
	padding: 7px;
		width: 400px;
}

span.ds-form-label,label.ds-form-label {
	display: block;
	float: left;
	clear: left;
	padding: 5px 20px 5px 10px;
	width: 115px;
	font-weight: bold;
	vertical-align: middle;
	overflow: hidden;
}

label.ds-composite-component {
	display: block;
	float: left;
	padding: 0px 5px 0 0px;
	font-size: 80%;
	color: blue;
	background-color: inherit;
	text-align: left;
}

span.error {
	display: block;
	font-size: 85%;
	color: red;
	background-color: inherit;
	margin: 0;
}

span.field-help {
	display: block;
	margin-left: 5px;
	font-size: 80%;
	color: gray;
	background-color: inherit;
}

input.error,textarea.error,select.error {
	color: inherit;
	background-color: rgb(255, 245, 245);
	border-color: red;
}

span.composite-help {
	display: block;
	font-size: 80%;
	color: gray;
	background-color: inherit;
	text-align: left;
}

div.spacer {
	margin: 0;
	padding: 0;
	line-height: 0px;
	clear: both;
}

li.ds-options-sublist-banner
{
}

div#ds-options
{
  display: block;

}
/*
div#ds-options {
	position: relative;
	float: left;
	width: 135px;
	color: inherit;
	background-color: white;
	margin: 0px;
	padding: 0px;
	font-size: 95%;
}

div.ds-option-set {
	padding: 30px 2px 3px 2px;
	width: 133px;
	margin: -3px 0px 0px 0px;
	color: inherit;
	background-color: #cacafc;
	border: 1px solid #343399;
}
*/

div#ds-search-option input {
	font-size: 90%;
}

div#ds-search-option input.ds-text-field {
	width: 80%;
	margin: 0;
	margin-left: -15px;
	padding: 0;
	position: relative;
	top: -1px;
	left: 8px;
}

div#ds-search-option input.ds-button-field {
	width: auto;
	height: 20px;
	margin: 0px;
	padding-left: 2px;
	padding-right: 2px;
	position: relative;
	top: -1px;
	left: 10px;
}

/*
div#ds-search-option a {
    position: relative;
    top: -4px;
    left: 4px;
	margin: 0;
	padding: 0;
}
*/


form#ds-search-form {
	font-size: 65%;
}

/*
div#ds-options h3 {
         margin: 0;
        padding: 10px 0 6px 15px;
        font-weight: bold;
        font-size: 65%;
        background: url("images/nav/navHeadBG.gif") no-repeat top left;
        border-bottom: 1px solid #6599CB;

}
*/
/*
div#ds-options h4 {
	margin-top: 0px;
	margin-bottom: 0px;
	color: rgb(0, 0, 0);
	background-color: inherit;
}
*/
/*
div#ds-options ul {
	margin: 0px 0px 10px 0px;
	padding: 0px;
}

div#ds-options li {
	margin-left: 15px;
	padding: 0px;
	color: #000066;
	background-color: inherit;
}
*/
input.ds-password-field {
	margin-right: 5px;
}

div#ds-footer {
	position: relative;
	margin-top: 10px;
	margin-bottom: 20px;
	height: 80px;
	float: left;
	width: 100%;
	border: 1px solid #343399;
}

span#ds-footer-logo {
	float: left;
	clear: both;
	height: 80px;
	width: 300px;
	background-image: url("di_logo.jpg");
	background-repeat: no-repeat;
	background-position: 0% 30%;
	color: inherit;
	background-color: white;
}

div#ds-footer p {
	width: 450px;
	position: absolute;
	top: -8px;
	right: 0px;
	text-align: right;
	padding: 5px;
	font-size: smaller;
}

div#ds-footer-links {
	position: absolute;
	top: 62px;
	right: 0px;
	padding-right: 5px;
	text-align: right;
	font-size: smaller;
}

div#ds-footer a#ds-logo-link {
	text-decoration: none;
}

div.notice {
	background-color: rgb(255, 255, 240);
	border: 1px solid rgb(240, 240, 210);
	padding: 6px;
	text-align: center;
	margin: 10px 30px 10px 30px;
}

div.notice.success p {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: rgb(80, 183, 40);
	text-align: center;
}

div.notice.failure p {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: rgb(213, 80, 40);
	text-align: center;
}

h1.ds-div-head,h2.ds-div-head,h3.ds-div-head {
/*	clear: both; */
}

/* License text display during submission */
div.license-text {
	border: 1px solid #666;
	background-color: #EEE;
	padding: 20px;
	margin: 20px;
	margin-top: 5px;
	font-family: monospace;
	font-size: 125%;
}

div#NoticeTransformer_div_general-message h1.ds-div-head {
    position: absolute;
    top: 11px;
    left: 42px;
    margin: 0;
    padding: 0 5px;
    font-size: small;
}    

p.hidden {
    display: none;
}

h1.ds-div-head, h2.ds-div-head, h3.ds-div-head {
   /* clear:both; */
}

span.fade {
    color: gray;
    font-size: 90%;
}

span.fade a {
    color: gray;
    text-decoration: none;
}

span.fade a:hover {
    color: blue;
    text-decoration: underline;
}    

span.warn {
    color: red;
    font-weight: bolder;
}

/* System-wide alerts */
div#ds-system-wide-alert {
    background-color: rgb(255, 255, 240);
    border: 1px solid rgb(240, 240, 210);
    padding: 6px;
	margin: 10px 30px 10px 30px;
    color: rgb(213, 80, 40);
}


/* admin tabs */
form.administrative{
  border: 1px solid rgb(240, 240, 210);
  border-top: 0px;
  width: inherit;
}

form.administrative fieldset{
  margin: 7px;
  width: auto;
}
form.administrative h3{
  margin: 7px;
}
form.administrative table{
  margin: 7px;
  width: auto;
}


form#administrative_item_FindItemForm_div_find-item{
  border: 0px;
  margin-left: 0px;
}

ul.horizontal
{
font-weight: bold;
list-style-type: none;
padding: 0px;
padding-left: 0px;
padding-bottom: 24px;
border-bottom: 1px solid rgb(240, 240, 210);
border-left: 1px solid white;
border-right: 1px solid white;
margin: 0px;
margin-left: -1px;
margin-right: -1px;
width: inherit;
}

ul.horizontal li
{
float: left;
height: 21px;
background-color: rgb(252, 252, 232);
margin: 2px 2px 0px 2px;
border: 1px solid rgb(240, 240, 210);
}


ul.horizontal a
{
float: left;
display: block;
text-decoration: none;
padding: 4px;
}

ul.horizontal a:hover { background: white; text-decoration: underline;}

ul.horizontal li span.bold a
{
border-bottom: 1px solid white;
background-color: white;
}

ul.horizontal li span.bold a { color: black; }

/* Things specific to UToledo below this line */
/* shield */

#shield {
        margin: 0;
        padding: 0;
        position: absolute;
        z-index: 1;
        left: 8px;
        top: 9px;
        height:63px;
        width:55px;
        background:url("images/nav/shield.gif");
}

/* wrap */

#banner_wrap {
        margin: 0;
        padding: 0;
        width: 100%;
        min-width: 780px;
}


/* topNav_white */

#topNav_wrap {
        clear: both;
        float: left;
        margin: 0;
        padding: 0;
        width: 100%;
        background: url("images/nav/topNavBotBG.gif") repeat-x bottom left #FFFFFF;
}

#topNav {
        float: left;
        margin: 0;
        padding: 5px 0px 6px 65px;
        list-style: none;
}

#topNav li {
        float: left;
        margin: 0;
        padding: 0;
        font-size: 60%;
        font-weight: bold;
        font-family: Verdana, sans-serif;
}

#topNav a {
        float: left;
        display: block;
        margin: 0;
        padding: 0 4px;
        color: #666666;
        text-decoration: none;
        border-left: 1px solid #999999;
        background: #FFFFFF;
}

#topNav a:hover {
        float: left;
        display: block;
        margin: 0;
        padding: 0px 4px;
        color: #333333;
        text-decoration: underline;
        background: #FFFFFF;
}

#topNav_first a {
        border-left: 0px;
}
#myut a {
        color: #003399;
}

#myut a:hover {
        color: #003399;
        text-decoration: underline;
}

/* topHead_blue */

#topHead_wrap {
        clear: both;
        float: left;
        margin: 0;
        padding: 0;
        width: 100%;
        background: url("images/nav/topHeadBG.gif") repeat-x bottom left;
}

#titleHold {
        float: left;
        margin: 14px 0 0 67px;
        _margin: 14px 0 0 35px;
        padding: 0 0 0 0;
        position: relative;
        left: 0px;
        border: 0;
        color: #FFFFFF;
        background:url("images/nav/UTtitle.gif") no-repeat;
        height: 22px;
        width: 345px;
}

#headSearchHold {
        float: right;
        display: block;
        margin: 8px 12px 8px 0px;
        padding: 0;
}

#headSearch {
        margin: 0;
        padding: 0;
}

#headSearchSubs {
        clear: both;
        float: left;
        margin: 0;
        padding: 6px 0px 0px 0px;
        list-style: none;
}

#headSearchSubs li {
        float: left;
        margin: 0;
        padding: 0;
        font-family: Verdana, sans-serif;
        font-size: 60%;
}

#headSearchSubs a {
        float: left;
        display: block;
        margin: 0;
        padding: 0px 4px;
        color: #FFFFFF;
        text-decoration: none;
        border-left: 1px solid #999999;
}

#headSearchSubs a:hover {
        float: left;
        display: block;
        margin: 0;
        padding: 0px 4px;
        color: #FFCC00;
        text-decoration: none;
}

#headSearchSubs_first a {
        border-left: 0px;
}

.searchbox {
        float: left;
        margin: 0;
        padding: 3px;
        width: 175px;
        font-family: Verdana, sans-serif;
        font-size: 60%;
        border: 1px solid #999999;
}

.searchbtn {
        float: left;
        margin: 0;
        padding: 2px 10px;
        _padding: 1px 10px;
        font-family: Verdana, sans-serif;
        font-size: 60%;
        border: 1px solid #999999;
        background: url("images/nav/searchBtnBG.gif") repeat-x top left #CFCFCF ;
        font-weight: bold;
        color: #000000;
}

/* mainNav_blue */

#mainNav_wrap {
        clear: both;
        float: left;
        margin: 0;
        padding: 0;
        width: 100%;
        background: url("images/nav/mainNavBG.gif") repeat-x top left #003399;
        border-bottom: 2px solid #FFCC00;
}

#mainNav {
        clear: both;
        float: left;
        margin: 0;
        padding: 8px 0px 8px 14px;
        list-style: none;
}

#mainNav li {
        float: left;
        margin: 0;
        padding: 0;
        font-family: Arial, Verdana, sans-serif;
        font-size: 65%;
        font-weight: bold;
}

#mainNav a {
        float: left;
        display: block;
        margin: 0;
        padding: 0px 6px;
        color: #FFFFFF;
        text-decoration: none;
        border-left: 1px solid #2551A8;
}
#mainNav a:hover {
        float: left;
        display: block;
        margin: 0;
        padding: 0px 6px;
        color: #FFCC00;
        text-decoration: none;
}

#mainNav_first a {
        border-left: 0px;
}

#headShad {
        clear: both;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 5px;
        background: url("images/nav/headShadBG.gif") repeat-x top left;
        border-top: 1px solid #FFA300;
        font-size: 0%;
}

#layout_wrap {
        clear: both;
        margin: 0 10px 0 10px;
        /*margin: 25px 0 0;*/
        _margin: -5px 0px 0px 0px;
        padding: 0;
        min-width: 782px;
        max-width: 980px;
        width:expression(document.body.clientWidth>1000?"980px":document.body.clientWidth<798?"782px":document.body.clientWidth-20);
}

#header {
    width: 100%;
        margin: 0;
        padding: 0;
        background: url("images/nav/layoutHeaderCtr.gif") repeat-x top ;
}

#headerCorner {
        margin: 0;
        padding: 0;
        background: url("images/nav/layoutHeaderRht.gif") no-repeat top right;
}

#headerTitle {
        margin: 0;
        padding: 15px 20px 10px 20px;
        text-align: left;
        font-family: Georgia, serif;
        font-size: 115%;
        color: #333;
        background: url("images/nav/layoutHeaderLft.gif") no-repeat top left;
}

#content_lft {
        margin: 0;
        padding: 0;
        background: url("images/nav/contentLftBG.gif") repeat-y top left;
}

#content_rht {
        margin: 0;
        padding: 0;
        background: url("images/nav/contentRhtBG.gif") repeat-y right top;
}

#content_wrap {
        margin: 0 7px 0 7px;
        padding: 0;
        background-color:#FFF;
}
#redLine {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 2px;
        background: #CA4E00;
        border-bottom: 1px solid #A01800;
        font-size:0%;
}

/* topLineNav */

#topLineNav_wrap {
        position:relative;
        z-index:9;
        float: left;
        width: 100%;
        height: 28px;
        background: url("images/nav/topLineNavBG.gif") repeat-x top left #E5E5E5;
        border-top: 1px solid #999;
}

#topLineNav {
        position:relative;
        z-index:10;
        float: left;
        list-style: none;
}

#topLineNav_wrap ul {
        position:relative;
        z-index:13;
        padding-left: 15px;
        margin: 0;
}



#topLineNav li {
        position:relative;
        z-index:14;
        float: left;
        font-family: Arial, Verdana, sans-serif;
        font-size: 65%;
        font-weight: bold;
        padding: 8px 5px;
        margin:0;
}
#topLineNav a {
        position:relative;
        z-index:102;
        float: left;
        display: block;
        color: #003193;
        text-decoration: none;
        border-right: 1px solid #ADADAD;
        padding-right: 10px;
        padding-left: 0px;
        margin:0;
}
#topLineNav a:hover {
        float: left;
        display: block;
        color: #003193;
        text-decoration: underline;
}

#topLine_first a {
        border-left: 0px;
}


.ends {
        clear: both;
        margin: 0;
        padding: 0;
}

/* navContent */

#navContent_wrap {
        float: left;
        margin: 0;
        padding: 0;
        width: 100%;
        background: url("images/nav/sideNavBG.gif") repeat-y top left #ffffff;
        overflow: hidden;
        border-top: 1px solid #999;
}

#lftNavHold {
        float: left;
        margin: 0;
        padding: 0;
        width: 210px;
        border-right: 1px solid #CCC;
}

.navHead {
        margin: 0;
        padding: 10px 0 6px 15px;
        font-weight: bold;
        font-size: 65%;
        background: url("images/nav/navHeadBG.gif") no-repeat top left;
        border-bottom: 1px solid #6599CB;
}

.lftNav_wrap {
        margin: 8px 0 15px 15px;
        padding: 0;
}

.lftNav_wrap ul {
        margin: 0;
        padding: 0;
        width: 185px;
        border-bottom: 1px solid #C5D9EF;
}

.lftNav_wrap li {
        margin: 0;
        padding: 3px 0 3px 10px;
        _padding: 0 0 3px 10px;
        font-size: 65%;
        list-style: none;
        background: url("images/nav/lftNavLI_BG.gif") repeat-x top left;
}

/* for embedded lists */
.lftNav_wrap li li
{
 font-size: 100%;
}
.lftNav_wrap li a {
        margin: 0;
        padding: 0;
        color: #003193;
        text-decoration: underline;
}


#textHold_wrap {
        margin: 0 0 0 210px;
        padding: 0;
        background: url("images/nav/textTopBG.gif") repeat-x top left;
}

#textHold {
        margin: 0;
        padding: 0;
        font-size: 80%;
        color: #333333;
        line-height: 1.5em;
}

#contentBotLft {
        margin: 0;
        padding: 0;
        height: 12px;
        background: url("images/nav/contentBotLftBG.gif") no-repeat top left;
}

#contentBotCtr {
    width: 100%;
        margin: 0;
        padding: 0;
        background: url("images/nav/contentBotCtrBG.gif") repeat-x top;
}

#contentBotRht {
        margin: 0;
        padding: 0;
        background: url("images/nav/contentBotRhtBG.gif") no-repeat right top;
}

/* footer */

#footerNav_wrap {
        float: left;
        margin: 0;
        padding: 0;
        width: 100%;
        border-bottom: 1px solid #CCCCCC;
        font-size: 65%;
}

#footerNav {
        float: left;
        margin: 0;
        padding: 5px 0 5px 0;
        list-style: none;
}

#footerNav li {
        float: left;
        margin: 0;
        padding: 0;
}

#footerNav a {
        float: left;
        display: block;
        margin: 0;
        padding: 0 6px;
        color: #003193;
        text-decoration: none;
        border-left: 1px solid #999999;
}

#footerNav a:hover {
        float: left;
        display: block;
        margin: 0;
        padding: 0 6px;
        color: #003193;
        text-decoration: underline;
}

#footerNav_first a {
        border-left:0;
}

#copyright_wrap {
        font-size: 65%;
        margin: 0;
        padding: 0;
        width: 100%;
}

#copyrightHold {
        float: left;
        margin: 0;
        padding: 7px 0 50px 6px;
        color: #444444;
        line-height: 15px;
}

#copyrightHold a {
        margin: 0;
        padding: 0;
        color: #003193;
        text-decoration: none;
}

#copyrightHold a:hover {
        margin: 0;
        padding: 0;
        color: #003193;
        text-decoration: underline;
}

#privateHold {
        float: right;
        margin: 0;
        padding: 7px 12px 0 0;
        list-style: none;
}

#privateHold li {
        float: left;
        margin: 0;
        padding: 0;
}

#privateHold a {
        display: block;
        margin: 0;
        padding: 0 4px;
        color: #003193;
        text-decoration: none;
        border-left: 1px solid #999999;
}

#privateHold a:hover {
        display: block;
        margin: 0;
        padding: 0 4px;
        color: #003193;
        text-decoration: underline;
}

#private_first a {
        border-left: 0;
}

.rhtNav_bg {
        display: block;
        width: 176px;
        background: url("images/nav/3rdLvlNav_BG.gif") repeat-y right top;
        float: right;
        margin: 37px 0 -32767px 0;
        padding: 0 0 32767px 0;
}

#rhtNavHead {
        margin: 0;
        padding: 10px 0 6px 10px;
        font-size: 80%;
        font-weight: bold;
        color: #000;
        background: url("images/nav/3rdLvlNav_headBG.gif") no-repeat top left;
        border-bottom: 1px solid #C6BB8E;
}
#rhtNav {
        margin: 8px 0 0 10px;
        padding: 0;
}

#rhtNav ul {
        margin: 0;
        padding: 0;
        width: 150px;
        border-bottom: 1px solid #CDCBBF;
}

#rhtNav li {
        margin: 0;
        padding: 0 0 3px 10px;
        _padding: 0 0 3px 10px;
        font-size: 75%;
        list-style: none;
        background: url("images/nav/3rdLvlNavLI_BG.gif") repeat-x top left;
}

#rhtNav li a {
        margin: 0;
        padding: 0;
        color: #003193;
        text-decoration: underline;
}

.pageTitle {
        margin: 0;
        padding: 8px 15px 20px 15px;
        font-size: 100%;
        font-weight: bold;
        color: #333;
        background: url("images/nav/3rdLvlNavTxt_BG.gif") repeat-x bottom left ;
}

/* breadcrumbs/extras */
#breadcrumb_wrap {
        margin: 0;
        padding: 0;
        display: block;
        font-size: 60%;
        height: 23px;
}

#breadcrumb {
        float: left;
        margin: 0;
        padding: 8px 0px 8px 12px;
        _padding: 8px 0px 8px 12px;
        list-style: none;
}
#breadcrumb li {
        float: left;
        margin: 0;
        padding: 0;
        font-family: "Lucida Grande", sans-serif;
}

#breadcrumb a {
        float: left;
        display: block;
        margin: 0;
        padding: 0 4px;
        color: #333333;
        text-decoration: none;
        border-right: 1px solid #999999;
}

#breadcrumb a:hover {
        float: left;
        display: block;
        margin: 0;
        padding: 0 4px;
        color: #333333;
        text-decoration: underline;
}

#extras {
        float: right;
        margin: 0;
        padding: 8px 12px 8px 0px;
        _padding: 8px 12px 0px 0px;
        list-style: none;
}

#extras li {
        float: left;
        margin: 0;
        padding: 0;
        font-family: "Lucida Grande", sans-serif;
}

#extras a {
        float: left;
        display: block;
        margin: 0;
        padding: 0px 4px;
        color: #003193;
        text-decoration: none;
        border-left: 1px solid #999999;
}

#extras a:hover {
        float: left;

        display: block;
        margin: 0;
        padding: 0px 4px;
        color: #003193;
        text-decoration: underline;
}

#extras_first a {
        border-left: 0px;
}


/* Date modified, link to top of page */
#textHold_wrap {
        margin: 0 0 0 210px;
        padding: 0;
        background: url("../images/nav/textTopBG.gif") repeat-x top left;
}

#textHold {
        margin: 0;
        padding: 0;
        font-size: 80%;
        color: #333333;
        line-height: 1.5em;
}

#textFoot_wrap {
        margin: 0 15px 0 15px;
        padding: 0;
        border-top: 1px solid #CCCCCC;
}

#dateModified {
        float: left;
        margin: 0;
        padding: 8px 0 15px 0;
        font-size: 75%;
        color: #666666;
}

#pageTop {
        float: right;
        margin: 0;
        padding: 8px 0 0 0;
        font-size: 75%;
        color: #333333;
}

#pageTop a {
        display: block;
        margin: 0;
        padding: 0 10px 0 4px;
        color: #003193;
        text-decoration: none;
        background: url("images/nav/pageTopArrow.gif") no-repeat right top;
}
#pageTop a:hover {
        display: block;
        margin: 0;
        padding: 0 10px 0 4px;
        color: #003193;
        text-decoration: underline;
        background: url("images/nav/pageTopArrow.gif") no-repeat right top;
}

